body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background: #f0ecec;
}

nav {
  padding-top: 10px;
  width: 100vw;
  background: #6e6e96;
  height: 8vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* z-index: 1030; */
  z-index: 10;
}
nav h4 {
  margin-top: -8px;
  color: #fff;
  font-family: cursive;
  padding-left: 5px;
  text-align: center;
  font-style: italic;
}
nav i {
  color: #0d0d6e;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
  color: #050542;
  transition: 0.5s ease-out;
}

/* MAIN MODAL HERE! */
/* first page modal */
#main-page--modal {
  position: fixed;
  z-index: 90;
  left: 0;
  top: 0;
  /* bottom: 40%; */
  height: 100%;
  width: 100%;
  /* overflow: auto; */
  background-color: rgba(10, 10, 10, 0.8);
}

#main-page--modal.remove-page {
  display: none;
}
#main-page-modal--header {
  text-align: center;
  box-shadow: 0 3px 8px #3b3b46;
  padding: 10px;
  border-bottom: 3px #515197 solid;
}
/*  */
#main-page-modal-content {
  margin: 5% auto;
  width: 89%;
  padding: 10px;
  background: #dddada;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 3px #515197 solid;
  box-shadow: 0 3px 8px #3b3b46, 2px 3px 28px #3b3b46;
}

#main-page-modal-content h3,
p {
  color: #515197;
}

#info-holder {
  float: right;
  color: #2f2f57;
  font-weight: 600;
  margin: 5px 20px 36px 30px;
  box-shadow: 0 2px 5px #6e6e96;
  padding: 10px;
  border-bottom: 3px solid #494994;
}
#login-type-content {
  padding: 10px;
  text-align: center;
  margin-top: 110px;
  box-shadow: 0 3px 8px #3b3b46;
  border-bottom: 3px #515197 solid;
}
#login-type-content span {
  color: #515197;
  margin: 5px;
  width: 90rem;
}
#login-type-content h3 {
  color: #ffffff;
}

#main-page-modal-content .login-btn {
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  border-bottom: 3px #515197 solid;
  outline: none;
}

#login-type-content #login-btn-holder {
  text-align: left;
}

.login-icon {
  animation-name: swings;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes swings {
  from {
    opacity: 0;
    transition: ease-in-out;
    color: #515197;
  }
  to {
    opacity: 1;
    transform: translateY(24%);
    color: #1f1fc5;
  }
}
#login-btn-holder :hover {
  color: #251f1f;
  animation-duration: 0s;
  cursor: pointer;
  animation-iteration-count: none;
}

#visitor-btn {
  cursor: pointer;
  margin: 10px auto;
}
/*DISPLAY ALL LOGIN BUTTON */
#login-holder {
  display: none;
  margin-top: 50px;
}

#login-holder.login-visible {
  display: block;
  animation-name: loginopen;
  animation-duration: 0.5s;
  animation-iteration-count: inherit;
}
@keyframes loginopen {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateZ(35%);
  }
}
/*  LOGIN PAGE*/
#login-modal-page {
  /* display: none; */
  position: fixed;
  z-index: 4;
  left: 0;
  top: 6%;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#login-modal--content {
  background: rgb(136, 134, 134);
  margin: 30px auto;
  padding: 14px;
  max-width: 500px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#login-modal-content--header {
  background: #4f526d;
  padding: 0 10px 30px 10px;
  margin: -34px 5px 5px 5px;
  box-shadow: 0 5px 8px #4f526d, 0 4px 5px#4f526d;
}
#login-modal-content--header .login-header--text {
  color: #dedee4;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
  margin: 10px;
  padding: 15px 10px 19px 10px;
  border-radius: 10px;
  text-align: center;
}

/* VISITOR LOGIN CONTENT */
#visitor-modal--login {
  display: none;
  margin-top: 10px;
}
#visitor-modal--login.visitor-login {
  display: block;
}

.visitor-input::placeholder {
  color: #050542;
}
.visitor-label {
  color: #ffffff;
}
#visitBtn {
  padding: 10px;
  margin: 0 0 0 7rem;
  color: #050542;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}

/* STAFF LOGIN CONTENT */
#staff-modal--login {
  display: none;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 0 2px 5px #11112e, 0 2px 5px #11112e;

  background-color: #4f526d;
}
#staff-modal--login.staff-login {
  display: block;
}
#staff-modal--login label {
  padding: 10px 0 10px 10px;
  display: block;
  color: #dddada;
}
#staff-modal--login input {
  border: none;
  display: block;
  padding: 14px 100px 14px 3px;
  background: none;
  outline: none;
  box-shadow: 0 2px 5px #2f2f57;
}
input::placeholder {
  color: #ffffff;
  margin-right: 60px;
  font-size: 15px;
  transition: 0.5s ease-out;
}

#staff-modal--login button {
  outline: none;
  padding: 0.9rem 1.5rem 0.9rem 1.5rem;
  margin-left: 10px;
  border-radius: 5px;
  color: #dddada;
  border: none;
  font-weight: 400;
  background-color: #8888bb;
}

.form-holder {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px;
}

.icon-holder {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  background: none;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  box-shadow: 0 2px 5px #2f2f57;
}
.input-content {
  border: 1px solid #ced4da;
  padding: 10px 30px 10px 30px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
/*STAFF LOGIN MODAL */
#staff-profile {
  display: none;
  margin-top: 1.5rem;
  position: absolute;
  transform: translate(40%);
  width: 750px;
  background: #dddada;
  margin-bottom: 4rem;
}
#staff-profile.display-staff {
  display: block;
}
#account-body {
  box-shadow: 0 2px 5px #9f9faf;
  padding-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

#account-details {
  text-align: center;
  width: 80%;
  margin: auto;
  box-shadow: 0 2px 5px #9f9faf;
  background: #dddada;
}
#account-user-image img {
  max-width: 150px;
  opacity: 0.6;
  border-radius: 100rem;
}
#account-user-header {
  text-decoration: underline;
  opacity: 0.8;
  font-weight: 300;
}
#account-details .account-details--items {
  margin-bottom: 20px;
  color: #000;
}
#account-login {
  transform: translate(34%);
}
#account-footer {
  box-shadow: 0 3px 5px #9f9faf;
  background: #dedee4;
  padding: 10px;
  color: #555;
}
.account-details--items {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 20px;
  color: #555;
}
.account-details--items label {
  color: #11112e;
  font-weight: 500;
}
.account-details--items span {
  color: #555;
  font-weight: 500;
}
#account-footer {
  display: flex;
  padding-bottom: 30px;
  background: #ececec;
}
#staff-login--error {
  color: #df6767;
  font-weight: 400;
}

/* staff Welcome Modal */
#staff-signed-modal {
  display: none;
  z-index: 10;
  background: #ececec;
  max-width: 50vw;
  box-shadow: 0 5px 8px #555;
  border-bottom: 2px solid #050542;
  position: fixed;
  top: 7%;
  right: 0;
  left: 24%;
  animation: modaldown;
  animation-direction: alternate-reverse;
  animation-delay: 20s;
}
#staff-signed-modal.staff-modal {
  display: block;
}
@keyframes modaldown {
  0% {
    opacity: 0;
    background: #000;
  }
  100% {
    opacity: 1;
    background: #050542;
  }
}
#staff-signed-modal--header,
p {
  color: #555;
  text-align: center;
}
#staff-signed-modal--header {
  box-shadow: 0 3px 8px #6f6f80;
  border-bottom: 2px solid #050542;
  margin-top: -17px;
}

#staff-signed-modal--header span {
  text-align: right;
  /* display: inline-block; */
  float: right;
  margin: -34px 10px auto;
  cursor: pointer;
  color: #03033d;
}
#staff-signed-modal--header h3 {
  margin: 20px 0 5px 0;
  padding-top: 5px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
  nav {
    width: 100%;
    font-size: 24px;
    height: 4vh;
  }
  #staff-profile {
    margin: 6.2% 0 30px -27%;
    width: 85%;
  }

  #login-holder {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
  }
}

@media screen and (max-width: 500px) {
  nav {
    width: 100%;
    font-size: 24px;
    height: 4vh;
  }
  #staff-profile {
    margin: 8.2% 0 0 -18%;
    width: 75%;
  }
  #account-footer {
    display: block;
  }
  #staff-signed-modal {
    min-width: 70%;
    /* background: #0d0d6e; */
    position: fixed;

    /* right: 400%; */
    left: 14%;
    padding: 0 5px 0 5px;
  }
}

/* @media screen and (max-width: 500p); */
